#button-sort {
    display: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#button-array {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}